<ul><% @astronauts.each do |astro| %>
<li><%= astro.name %></li>
<li><%= astro.weight %></li>
<li><%= astro.height %></li>
<li><%= astro.bio %></li>
<li><%= astro.nationality %></li>
<li><%= astro.specialty %></li>
</ul>
<a href="/astronauts/<%= astro.id %>/edit">Update Crew Member</a>
<br>
<% end %>
<a href="/">Return to Mission Control</a>