<ul><% @spaceships.each do |spacecraft| %>
	<li>Name: <%= spacecraft.name %></li>
	<li>Type: <%= spacecraft.ship_type %></li>
	<li>Speed: <%= spacecraft.speed %></li>
	<li>Crew: <%= spacecraft.crew %></li>
	<li>Cargo: <%= spacecraft.cargo %></li>
</ul>
<br>
<br>
<a href="/ships/<%= spacecraft.id %>/edit">Update this Space Craft</a>
<br>  
<br>
<% end %>
<a href='/'>Return to Main Console</a>